{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "writerOpts": {
          "headerPartial": "./.github/release-notes.hbs",
          "commitGroupsSort": "title",
          "commitPartial": "- {{#if scope}}**{{scope}}:** {{/if}}{{message}} ([#{{id}}]({{commitUrl}}) by @{{author}})",
          "groupBy": "type",
          "commitGroups": [
            {
              "title": "🚀 Features",
              "commits": "feat"
            },
            {
              "title": "🐛 Bug Fixes",
              "commits": "fix"
            },
            {
              "title": "🛠️ Refactoring",
              "commits": "refactor"
            },
            {
              "title": "📄 Documentation Updates",
              "commits": "docs"
            },
            {
              "title": "🚨 Breaking Changes",
              "commits": "BREAKING CHANGE"
            }
          ],
          "transform": "function (commit, context) { return commit; }"
        }
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/github"
  ]
}
